.navbar {
  display: flex;
  justify-content: space-around;
  padding: 16px;
  /* 属性创建了一个垂直向下偏移1像素的阴影，模糊程度为3像素，且收缩了2像素。 */
  box-shadow: 0 1px 3px -2px black;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-logo p {
  color: #171717;
  font-size: 38px;
  font-weight: 600;
}
.nav-menu {
  display: flex;
  align-items: ;
}
